<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
}
</style>
</head>
<body layout:fragment="content">
	<div class="row">
		<h1>Cav's Smoothies</h1>
		<h3>Your one stop shop for all your Smoothie needs</h3>
		<p>
			Check out the code for this app here:<a>https://github.com/cavalieredraghi/combined-Project</a>
		</p>
	</div>
</body>
</html>